<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/survival.css">
    <title>Document</title>
</head>
<body>
    <form id="survival-form" action="{{ url_for('main.survival') }}" method="post">
        <div class="from">
            <h1>Patient Information Form
                <span>Please fill all the texts in the fields.</span>
            </h1>
            <!-- name -->
            <label for="name">
                <span for="name">Name :</span>
                <input type="text" id="name" name="name" required>
            </label>
            <!-- Sex -->
            <label for="sex">
                <span>Sex :</span>
                <select id="sex" name="sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </label>
            <!-- Age -->
            <label for="age">
                <span>Age :</span>
                <input id="age" type="number" name="age"/>
            </label>
            <!-- Cancer stage of the patient -->
            <label for="stage">
                <span>Cancer stage of the patient :</span>
                <select id="stage" name="stage">
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
            <!-- Did the patient receive chemotherapy after surgery? -->
            <label for="chemo">
                <span>Did the patient receive chemotherapy after surgery?</span>
                <select id="chemo" name="chemo">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </label>
            <!-- Type of chemotherapy -->
            <label for="chemo_type">
                <span>Type of chemotherapy?</span>
                <select id="chemo_type" name="chemo_type">
                    <option value="5FU">5FU</option>
                    <option value="FOLFIRI">FOLFIRI</option>
                    <option value="FOLFOX">FOLFOX</option>
                    <option value="FUFOL">FUFOL</option>
                    <option value="other">other</option>
                </select>
            </label>
            <!-- Relapse or not (0=No, 1=Yes) -->
            <label for="relapse">
                <span>Relapse or not (0=No, 1=Yes) :</span>
                <select id="relapse" name="relapse">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </label>
            <!-- Duration before relapse occurs (month) -->
            <label for="relapse_months">
                <span>Duration before relapse occurs (month) :</span>
                <input id="dbm" type="number" name="dbm"/>
            </label>
            <!-- Duration before death (month) -->
            <label for="death_months">
                <span>Duration before death (month) :</span>
                <input id="death_months" type="number" name="death_months"/>
            </label>
            <!-- Consensus Molecular Subtypes -->
            <label for="cms">
                <span>Type of chemotherapy?</span>
                <select id="cms" name="cms">
                    <option value="CMS1">CMS1</option>
                    <option value="CMS2">CMS2</option>
                    <option value="CMS3">CMS3</option>
                    <option value="CMS4">CMS4</option>
                    <option value="UNK">UNK</option>
                </select>
            </label>
            <!-- Pathway-derived Subtypes -->
            <label for="pds">
                <span>Type of chemotherapy?</span>
                <select id="pds" name="pds">
                    <option value="PDS1">PDS1</option>
                    <option value="PDS2">PDS2</option>
                    <option value="PDS3">PDS3</option>
                    <option value="Mixed">Mixed</option>
                </select>
            </label>
            <!-- submin -->
            <label>
                <span>&nbsp;</span>
                <button type="submit" class="button" value="Send">Submit</button>
            </label>
        </div>
    </form>
    <div id="prediction-result"></div>
    {% if prediction is not none %}
        <p>Predicted survival rate: {{ prediction }}</p>
    {% endif %}


    <script type="text/javascript">
        // 监听 DOMContentLoaded 事件以确保页面已加载
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.getElementById('survival-form');
            form.onsubmit = function(e) {
                e.preventDefault(); // 阻止表单的默认提交行为
    
                var formData = new FormData(form);
                fetch("{{ url_for('main.survival') }}", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if(data.prediction) {
                        document.getElementById('prediction-result').textContent = 'Predicted survival rate: ' + data.prediction;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            };
        });
        </script>
</body>
</html>